#movie-selector-container {
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#result-button {
    width: 100%;
}

.movie-selector-container-w {
    width: 90%;
}

@media only screen and (min-width: 750px) {
    .movie-selector-container-w {
        width: 80%;
    }
}

@media only screen and (min-width: 1000px) {
    .movie-selector-container-w {
        width: 50%;
    }
}